<%- include('partials/user/header.ejs') -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">
            Hey <%=user.name%>, Add Money to wallet
            <br><br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <form action = "/user/<%=user._id%>/addMoney" method = "POST" >
              <!--    <input type="text"  class="form-control form-control-user" name="userid" placeholder="Enter your net banking ID" autofocus="on">
                  <br>
                  <input type="password"  class="form-control form-control-user" name="password" placeholder="Password">
                  <br>-->
                  <input type="number"  class="form-control form-control-user" name="amount" placeholder="Enter amount">
                  <br>
                  <button type="submit" class="btn btn-primary" name="button">ADD MONEY</button>
              </form>
                </div>

              </div>

            </div>

          </h1>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Scranton</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<%- include('partials/user/footer.ejs') -%>
