<%- include('partials/header.ejs') -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">
            Recharge History<br><br>
  </h1>
            <div class="container">
              <div class="row">
                <div class="col-lg-2">
                  <span>S.No.</span>
                </div>
                <div class="col-lg-4">
                  <span>Date</span>
                </div>
                <div class="col-lg-4">
                  <span>Amount</span>
                </div>
              </div>


              <!-- EJS RENDERING OF THE HISTORY OF MONEY ADDITION -->
              <div class="">
                <div class="row">
                  <div class="col-lg-2">
                    <span>  ...   </span>
                  </div>
                  <div class="col-lg-4">
                    <span>  ...  </span>
                  </div>
                  <div class="col-lg-4">
                    <span>   ...  </span>
                  </div>
                </div>
              </div>


            </div>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Scranton</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<%- include('partials/footer.ejs') -%>
