<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h3>Proceed to Capture face</h3>
    <div class="row">
      <div class="col-lg-3">
        <a href="/batexecute"> <button type="button" class="btn btn-success" name="button">Capture Image</button> </a>
      </div>

    </div>
  </body>
</html>
