<%- include('partials/shop/header.ejs') -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">
            Add Money to wallet
            <br><br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <input type="text"  class="form-control form-control-user" name="amount" placeholder="Enter the amount to be deducted" autofocus="on">
                  <br>
                  <input type="password"  class="form-control form-control-user" name="password" placeholder="4 digit PIN of user">

                  <br>
                  <a href="#"> <button type="button" class="btn btn-primary" name="button">Pay Money</button> </a>
                </div>

              </div>

            </div>

          </h1>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; FCB2749</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<%- include('partials/shop/footer.ejs') -%>
