<%- include('partials/shop/header.ejs') -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">
            Transaction At Counter
            <br><br>
            <form method="POST" action="/transaction/<%=shop._id%>/pay" >
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <h3>Capture Face</h3>
                  <a href="/batexecute" target="_blank"> <button type="button" class="btn btn-primary" name="button"> Capture Face</button></a>
                  <br><br>
                  <input type="number"  class="form-control form-control-user" name="amount" placeholder="Total billing amount" autofocus="on" value="">
                  <br>
                  <input type="password"  class="form-control form-control-user" name="pin" placeholder="User's Secret PIN">

                  <br>
                  <button type="submit" class="btn btn-primary" name="button">Pay Money</button>
                </div>

              </div>
            </form>
            </div>

          </h1>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Scranton</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<%- include('partials/shop/footer.ejs') -%>
